<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>iStockProMax</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="container">
        <h1>Stocle</h1>
        <form action="/results" method="POST">
            <h2>Enter Date Range</h2>
            <label for="start_year">Start Year:</label>
            <input type="text" id="start_year" name="start_year" placeholder="e.g., 2020" required>
            
            <label for="end_year">End Year:</label>
            <input type="text" id="end_year" name="end_year" placeholder="e.g., 2023" required>
            
            <label for="future_date">Predict for Future Date:</label>
            <input type="text" id="future_date" name="future_date" placeholder="DD/MM/YYYY" required>
            
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
